.button--skip-link:not(:focus):not(:hover) {
    transform: translateY(-4em);
    opacity: 0;
}

.button--skip-link {
    transform: translateY(-4em);
    opacity: 0;
    display: table-column;
}

.button--skip-link {
    background-color: var(--gold) !important;
    border-color: var(--gold) !important;
    outline-color: currentColor !important;
    color: var(--off-black) !important;
    font-weight: 600;
    font-size: larger;
    margin: 0 auto;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0.5em;
    width: 10em;
    opacity: 1;
    transition: transform 0.1875s ease-out, opacity 0.1875s ease-out;
}

.open {
    display: block !important;
}

.closed {
    display: none !important;
}

.data-filter-form {
    display: block;
}

.button-filters {
    display: none;
}

.close-filters {
    display: none;
}


@media (max-width: 59em) {
    .data-filter-form {
        display: none;
    }

    .button-filters {
        display: block;
    }

    .close-filters {
        display: block;
    }
}

