/* Base Styles */

/* Common grid styles for headers */
.minimal-header-container {
    display: grid !important;
    grid-column-gap: 32px;
}

/* Header Styles */
.header-sup {
    display: grid;
    grid-gap: 2em;
    grid-column: 1 / 8;
    margin-bottom: 30px;
}

.header-full, .header-left, .header-right {
    grid-column: 1 / 7;
}

.header-left .box, .header-right .box {
    padding: 8px;
    margin: 20px 0 30px;
}

.header-right p {
    font-size: 100% !important;
}

/* Button Styles */
.button-submit-end {
    grid-column: 2 / 8;
    margin-top: 2em;
}

/* Main Content Styles */
main>header {
    grid-column: 1 / 10;
}

/* Responsive Styles */

@media (min-width: 40em) {
    main {
        display: contents;
    }
}

@media (min-width: 60em) {
    main>header {
        grid-column: 2 / 7;
    }

    .header-sup {
        grid-column: 2 / 10;
    }

    .header-full {
        font-size: .85em;
    }

    .header-left {
        grid-column: 1 / 5;
    }

    .header-right {
        grid-column: 6 / 7;
    }
}

/* Box Styles */
.box {
    grid-column: 1 / 9;
}

/* Infobox Styles */
.box-infobox>div {
    padding: 5px 5px 5px 2em !important;
    font-size: .85em;
    position: relative;
}

.box-infobox>div>svg {
    margin-left: -1.5em !important;
    margin-top: 3px !important;
    position: absolute;
}

/* Courses Filters Styles */
.courses-filters {
    padding-right: 2em;
}

@media (min-width: 60em) {
    .courses-filters {
        grid-column: 1 / 4;
        border-right: 1px solid #ccc;
    }
}

@media (min-width: 72em) {
    .courses-filters {
        grid-column: 2 / 4;
    }
}

/* Filter Options Styles */
.filter-options input,
.filter-options label,
.filter-options select {
    cursor: pointer;
}

/* Courses List Styles */
#courses-list {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px solid #ccc;
}

@media (min-width: 60em) {
    #courses-list {
        grid-column: 4 / span 7;
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
    }
}

@media (min-width: 72em) {
    #courses-list {
        grid-column: 4 / span 6;
    }
}

/* Fieldset Styles */
.field:not(.filter-options)>label {
    font-weight: 700;
}

fieldset {
    margin-top: 2.5em !important;
}

fieldset>p {
    margin-top: .25em !important;
}

fieldset>fieldset {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/* Accessibility Support Styles */
.accessibility-support {
    display: inline !important;
}

/* Length Container Styles */
.length-container {
    display: flex;
}

.length-value {
    flex: 1;
    margin-right: 2em;
}

.length-unit {
    flex: 5;
}

.length-unit select {
    padding: 8px;
}

/* Button Clear Button Styles */
.button-clear-button {
    color: var(--off-black);
    border: 2px solid var(--line-grey);
    display: none !important; /* Hidden by default */
}

.button-clear-button:hover,
.button-clear-button:focus {
    background: var(--off-white);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: black;
    outline-offset: 2px;
    outline-color: white;
    display: inline-block !important; /* Show on hover or focus */
}

.button-clear-button::before {
    margin: 0;
    margin-right: .3em;
    margin-top: .2em;
    content: url(/content-images/wai-course-list/clear.svg) !important;
}

/* Page Footer Styles */
.page-footer .inner {
    grid-area: content;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Quick Fix Styles */
/* (Place any quick fixes here) */

/* New Line Button Styles */
.button-group button:hover {
    cursor: pointer;
}

/* Prototype Styles */
.proto {
    display: none;
}

/* Add Line Styles */
.add_line {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/* Checkbox Styles */
.field input[type="checkbox"]:focus {
    outline: 2px solid #686868;
    outline-offset: 2px;
    transition: outline-offset 0.2s linear;
}

/* Courses List Header Styles */
.courses-list-header {
    display: grid;
    grid-gap: 1em;
    padding-bottom: 1em;
}

.courses-list-header .field, .courses-list-header .sort-by {
    grid-column: 1 / 7;
    margin: 0;
    align-self: center;
}

.courses-list-header .sort-by {
    grid-column: 7 / 8;
    align-self: center;
}

@media (max-width: 60em) {
    .courses-list-header .field, .courses-list-header .sort-by {
        grid-column: 1 / 8;
    }
}

/* Status Styles */
#status {
    margin: 0;
}

/* Filter Courses Info Styles */
#filter-courses-info {
    background-color: var(--ocean);
    color: var(--pure-white);
    display: grid;
    align-items: center;
}

#filter-courses-info p {
    margin: 0 !important;
}

button {
    cursor: pointer;
}

#filter-courses-info button {
    margin: 0;
    padding: .3em;
}

/* Hidden Element Styles */
.hidden-element {
    visibility: hidden !important;
    display: none !important;
}

/* Icon Styles */
[class^="i-"] {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    margin-top: -.25em;
}

/* Infobox Styles */
.infobox h4 {
    border: 1px solid var(--line-grey);
    background-color: #f3f3f3;
    padding: 1em;
    font-size: .85em;
}

.infobox {
    background-color: var(--pure-white);
    padding: 1em;
    font-size: .85em;
}

/* Status Styles */
#status {
    color: var(--wai-green);
    font-weight: bold;
}

/* Sort By Label Styles */
.courses-list-header .sort-by label {
    float: left;
    margin: 0;
    margin-right: 0.5em;
}

/* Placeholder Styles */
::placeholder {
    color: var(--grey);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--grey);
}

::-ms-input-placeholder {
    color: var(--grey);
}

/* Explanation Styles */
span.expl {
    font-weight: 400 !important;
    display: block;
    padding: .25em 0 1em 0;
}

/* Helperinfo Styles */
.details .helperinfo, .helperinfo {
    margin-right: 16px;
}
