@media (min-width: 40em) {
  main {
    display: contents;
  }
}

.header-sup {
  grid-column: 1 / 8;
  margin-bottom: 48px;
}

.button-submit-end {
  grid-column: 2 / 8;
  margin-top: 2em;
}

@media (min-width: 72em) {
  .header-sup {
    grid-column: 2 / 9;
  }
}

main>header {
  grid-column: 1 / 10;
}

@media (min-width: 72em) {
  main>header {
    grid-column: 2 / 9;
  }
}

.box {
  grid-column: 1 / 9;
}

.header-sup p:first-child {
  margin-top: 0;
  font-size: 125%;
}

.header-sup .button {
  margin-bottom: 2em;
}

.button {
  margin-top: 2em;
}

#app {
  display: contents;
}

#left-col h2 {
  margin: 20px 0 20px;
}

#left-col legend {
  font-size: 100%;
}

.courses-filters {
  padding-right: 2em;
}

@media (min-width: 60em) {
  .courses-filters {
    grid-column: 1 / 4;
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 72em) {
  .courses-filters {
    grid-column: 2 / 4;
  }
}

.courses-filters input {
  margin-right: .5em;
}

#language, #country {
  width: 100%;
}

.button-small {
  cursor: pointer;
}

.select-form {
  width: 100%;
  margin-top: 1em;
}

.accessibility-support {
  display: inline !important;
}

.length-container {
  display: flex;
}

.length-value {
  flex: 1;
  margin-right: 2em;
}

.length-unit {
  flex: 5;
}

.length-unit select {
  padding: 8px;
}

.button-clear-button[hidden] {
  display: none !important;
}

.filter-options {
  margin: 0;
}

#left-col .field label {
  display: inline !important;
}

#courses-list {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #ccc;
}

@media (min-width: 60em) {
  #courses-list {
    grid-column: 4 / span 7;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }
}

@media (min-width: 72em) {
  #courses-list {
    grid-column: 4 / span 6;
  }
}

#courses-list dd {
  margin: 0 0 1em 0;
}

details dt::after {
  content: ":";
}

#courses-list dt {
  float: left;
  margin: 0 0.5em 0 0;
}

#courses-list dd ul {
  margin: 3em 3em 0 0;

}

.label-input {
  /* font-size: 1.25rem; */
  font-weight: 700;
}

#availability .label-input {
  margin-top: 1em;
}


#courses-list details>div {
  border-top: solid 1px var(--line-grey);
  margin-left: -48px;
  margin-right: -16px;
  margin-bottom: -8px;
  padding-left: 16px;
}

#disclaimer {
  border: 1px solid var(--line-grey);
  margin-top: 2em;
}

#disclaimer h2 {
  background-color: gold;
  margin: 0px !important;
  padding: 10px;
  font-size: 1.3em;
  color: var(--off-black);
}

#disclaimer p {
  padding: 10px;
}

.status:not([hidden]) {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .75;
  display: flex;
  align-items: start;
  justify-content: center;
  transition: opacity 0.2s;
}

/*
.submit-a-course {
  grid-column: 8 / 10;
  align-self: start;
  justify-self: end;
  margin-bottom: 2em;
}

@media ( min-width: 72em) {
  .submit-a-course {
    grid-column: 7 / 9;
  }
}
*/

#helpimprove {
  grid-column: 2 / 10;
}

@media (min-width: 60em) {
  .default-grid.page-footer .inner {
    grid-column: 2/10;
  }
}

.page-footer .inner {
  grid-area: content;
  padding-top: 16px;
  padding-bottom: 16px;
}


/* quick fix to link contrast - to better discuss */

fieldset label:hover a {
  color: var(--off-white);
}

fieldset label:hover a:hover {
  text-decoration: underline gold;
}



/* new line button */
.button-group button:hover {
  cursor: pointer;
}

.proto {
  display: none;
}

.add-line {
  margin-top: 2em;
}

.line .select-form {
  margin-bottom: 1em;
  margin-top: 0.5em;
}


.field input[type="checkbox"]:focus {
  outline: 2px solid #686868;
  outline-offset: 2px;
  transition: outline-offset 0.2s linear;
} 


.courses-list-header {
  display: grid;
  grid-gap: 1em;
  border-bottom: 1px solid var(--line-grey);
  padding-bottom: 1em;
}

.courses-list-header .field {
  grid-column: 1 / 5;
  margin: 0;
  align-self: center;
}

.courses-list-header #status {
  grid-column: 5 / 8;
  align-self: center;
}

.courses-list-header #status h4 {
  margin: 0;
}

.courses-list-header .sort-by {
  grid-column: 8 / 8;
  align-self: center;
  display: flex;
  align-items: center;
}

.courses-list-header .sort-by h4 {
  float: left;
  margin: 0;
  margin-right: 0.5em
}


img.icon {
  --img-width: 15px;
}

.helper div {
  background-color: var(--cloudy-subtle);
  padding:0.5em;
  margin: 0.5em;
  font-weight: normal;
  border: solid 1px var(--line-grey);
  margin-left:-2em;
}