# Github action triggered as webhook from a netlify function
# NB!!!! this MUST be on the branch set as GitHub's default if it is to be triggered

name: Netlify Form Submission

on:
  repository_dispatch:
    types: [netlify-form-submission]

jobs:
  process-submission:
    name: Process Netlify Form
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Add new file to workspace
        run: "jq '.client_payload | .form + { id: .meta.id, submitted_on: .meta.created_at }' $GITHUB_EVENT_PATH > _data/courses/$SUBMISSION_ID.json"
        env:
          SUBMISSION_ID: ${{ github.event.client_payload.meta.id }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Add form submission
          committer: GitHub <noreply@github.com>
          author: Form process <formprocess@users.noreply.github.com>
          signoff: false
          branch: form-submission/${{ github.event.client_payload.meta.id }}
          branch-suffix: random # handle concurrent submissions of same form id
          delete-branch: true
          title: "New form submission: ${{ github.event.client_payload.meta.name }} ${{ github.event.client_payload.meta.id }}"
          body: |
            New form submission:

            - form: ${{ github.event.client_payload.meta.name }}
            - id: ${{ github.event.client_payload.meta.id }}
            - number: ${{ github.event.client_payload.meta.number }}
            - referrer: ${{ github.event.client_payload.meta.referrer}}, 

            For the submitted JSON data see "Files changed".
          labels: |
            form ${{ github.event.client_payload.meta.name }}
            automated pr
          draft: false
