# Github action triggered as webhook from a netlify function
# NB!!!! this MUST be on the branch set as GitHub's default if it is to be triggered

name: Netlify Form Submission
  
on:
  repository_dispatch:
    types: [netlify-form-submission]
 
jobs:
  process-submission:
    name: Process Netlify Form
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Add new file to workspace
        run: jq '.client_payload' $GITHUB_EVENT_PATH > SUMMISSION_ID.json

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_PAT }}
          commit-message: Update report
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: example-patches
          delete-branch: true
          title: '[Example] Update report'
          body: |
            New form submission
          labels: |
            report
            automated pr
          #assignees: peter-evans
          #reviewers: peter-evans
          #team-reviewers: |
          #  owners
          #  maintainers
          # milestone: 1
          draft: false
        env:
          SUMMISSION_ID: ${{ toJSON(github.event.client_payload.id) }}

