# Triggered as webhook from a netlify function
# NB!!!! this MUST be on the branch set as GitHub's default if it is to be triggered

name: Netlify Form Submission
  
on:
  repository_dispatch:
    types: [netlify-form-submission]
 
jobs:
  process-submission:
    name: Process Netlify Form
    runs-on: ubuntu-latest
    steps:
      - name: Print form
        run: echo $MESSAGE
        env:
          MESSAGE: zzzz
